.PlayerList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
  }
  
  .content {
    max-width: 75%;
    min-width: 50%;
    margin-top: 2rem;
  }
  
  .k-widget {
    font-size: 1.25rem;
  }
  
  @media (max-width: 620px) {
    .header img {
      width: 100%;
      height: auto;
      padding: 0 2rem;
    }
  
    .content {
      max-width: 100%;
    }
  }
  